html{
    font-family: 'Roboto Slab', serif;
}

/*Top Section*/

h2{
    color: black;
    font-size: 7rem;
    font-weight: bold;
}

.list h3{
    font-size: 5rem;
    font-weight: bolder;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.text{
    width: 40%;
    padding-right: 5rem;
}
.intro img{
    width: 40%;

}
.intro p{
    font-size: 2rem;
    line-height: 4rem;
}

/*Bottom Section*/

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul{
    text-align: left;
    margin-top: 5rem;
    font-size: 2.5rem;
    line-height: 5rem;
    margin-bottom: 10rem;
}

@media (max-width: 1500px){
    h2, .list h3{
        font-size: 4rem;
    }
}

@media (max-width: 800px){
    .box{
        flex-direction: column;
    }
    .text{
        width: 90%;
    }
    .intro img{
        width: 90%;
    }
    .order{
        margin-left: 4rem;
    }
    ul{
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media (max-width: 600px){
    .header {
        display: flex;
        justify-content: center;
    }
    
    .header__brandLogo, .header__brandTextSlogan, .header__loginButton, .header__nav {
        display: none;
    }
    .header__nav a{
        display: none;
    }
}