


html {
    font-family: 'Roboto Slab', serif;
    font-size: 62.5%;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0.5% 4%;
}

.container{
    display: flex;
}
.app_name{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}


h1{
    font-size: 4.8rem;
    color: #2196F3;
    white-space: nowrap;
    margin: 0;
}

.app_name p{
    font-size: 1.8rem;
    text-align: center;
    color: #0A2738;
    margin: 0;
}

.banner a{
    font-size: 1.8rem;
    font-weight: 400;
    color: #2196F3;
}

nav{
    background: #0A2738;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 1.25% 0;
}

nav a{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    margin-right: 4%;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.reviewed_page{
    display:flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.left_r, .right_r{
    display: flex;
    flex-direction: column;
    width:60%;
    align-items: center;
}

.names{
    margin-right: 3rem;
    line-height: 0rem;
}


.reviewer{
    width:60%;
    display:flex;
    flex-direction: column;
    padding: 1rem;
}

.star {
    padding-top: 1.1rem;
    position: absolute;
    padding-left: 16rem;
}

@media(max-width : 750px){
    html{
        font-size: 0.5rem;
    }

    .banner img, .app_name p, .banner a{
        display: none;
    }

    .banner{
        text-align: center;
        justify-content: center;
    }

    .reviewed_page{
        flex-direction: column;
        justify-content: space-between;
    }

    .reviewer p{
        font-size: 2rem;
        width: 150%;
    }

    .star img{
        height: 2rem;
        padding-left: 4rem;
    }
}